.content-meta {
  margin-top: 0;
  color: var(--gray);

  &[show-comma="true"] {
    > span:not(:last-child) {

      &::after {
        content: "•";
        margin-left: 8px;
        margin-right: 8px;
      }
    }
  }
}
