@use "./base.scss";

// my custom CSS
h1,
h2,
h3,
h4,
h5,
h6,
thead {
    font-weight: var(--semiboldweight);
}

.page article h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.2rem;
}

.page {
    #quartz-body {
        .sidebar.left {
            height: 90vh;
        }
    }
}
