@use "./base.scss";
@use "./variables.scss" as *;

// my custom CSS

.text-highlight {
    background-color: #6fd68c66;
  }

h1,
h2,
h3,
h4,
h5,
h6,
thead {
    font-weight: var(--semiboldweight);
}

.page article h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.2rem;
}

.page {
    #quartz-body {
        .sidebar.left {
            height: 90vh;

            @media all and (max-width: $fullPageWidth) {
                margin-top: 0rem;
            }
        }
        .page-header {
            margin-top: 1rem;
        }
    }
}
