@use "./base.scss";

// my custom CSS

.text-highlight {
    background-color: #6fd68c66;
  }

h1,
h2,
h3,
h4,
h5,
h6,
thead {
    font-weight: var(--semiboldweight);
}

.page article h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.2rem;
}

.page {
    #quartz-body {
        .sidebar.left {
            margin-top: 0rem;
            height: 90vh;
        }
    }
}
